<!--Scroll To Top-->
<a href="#" class="hc_scrollup"  ><i class="fa fa-chevron-up"></i></a>

<script type="text/javascript" src="{{ "js/wow.min.js" | relLangURL }}"></script>


<script>

  /*-- Page Scroll To Top Section ---------------*/
  jQuery(document).ready(function () {

    jQuery(window).scroll(function () {
      if (jQuery(this).scrollTop() > 100) {
        jQuery('.hc_scrollup').fadeIn();
      } else {
        jQuery('.hc_scrollup').fadeOut();
      }
    });

    jQuery('.hc_scrollup').click(function () {
      jQuery("html, body").animate({
        scrollTop: 0
      }, 600);
      return false;
    });


    //Initiat WOW JS
    new WOW().init();

  });


  // jQuery(function($) {'use strict';
  //
  //   //Initiat WOW JS
  //   new WOW().init();
  //   //smoothScroll
  //   //smoothScroll.init();
  //
  // });


</script>
