{{ if not .IsHome }}
  <section class="page-title-section">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="page-title wow bounceInLeft animated animated">
              <h1>{{ .Title }}</h1>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">

              {{ if site.Params.show_breadcrumb | and (ne .Type "book") }}
                <!-- Use page bg color rather than any color applied to article-container. -->
                  {{ $class := cond .IsSection "universal-wrapper" "article-container" }}
                <div class="{{$class}} py-1" style="background: initial">
                    {{ partial "components/breadcrumb" . }}
                </div>
              {{ end }}

          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="page-seperate"></div>
{{ end }}
